{% extends "network/layout.html" %}

{% block body %}
    <h1 class="mb-4">All Posts</h1>
    {% if user.is_authenticated %}
        <div class="container mx-auto p-4 border rounded text-">
            <form method="POST" action="{% url 'index' %}" class="d-flex flex-column align-items-start">
                {% csrf_token %}
                <h3 class="mb-3">New Post</h3>
                <textarea name="content" rows="4" placeholder="What's on your mind?" class="form-control mb-3" style="min-height:50px;" required></textarea>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    {% endif %}

    {% if not page_obj %}
        <h3 class="text-center">No posts available</h3>
    {% else %}
        {% for post in page_obj %}
            {% include "network/components/posts.html" %}
        {% endfor %}

        {% include "network/components/posts_pagination.html" %}
        
    {% endif %}

{% endblock %}