{% extends "auctions/layout.html" %}

{% block body %}
<h2>Closed Listings</h2>

<div class="d-flex flex-wrap mt-3">

    {% for listing in listings %}
    <a href="{% url 'listing' listing.id %}" class="m-2" style="text-decoration: none; color: inherit;">
        <div class="card h-100" style="width: 18rem; height: 500px;">
            {% if listing.image_url %}
            <img src="{{ listing.image_url }}" class="card-img-top img-fluid" style="width: 100%; aspect-ratio: 1/1; object-fit: fill;" alt="{{ listing.title }}">
            {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" class="card-img-top" style="width: 100%; aspect-ratio: 1/1; object-fit: fill;"
                alt="No image available">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ listing.title|truncatechars:35 }}</h4>
                <p class="card-text">{{ listing.description|truncatechars:90 }}</p>

            </div>
            <div class="card-footer">
                <h5 class="card-text">Sold for: {{ listing.highest_bid}} $</h5>
            </div>
        </div>
    </a>

    {% empty %}
    <div class="alert alert-info" role="alert">
        No closed listings yet.
    </div>

    {% endfor %}
</div>
{% endblock %}