<div class="post container mt-2 mx-auto p-4 border rounded text-" data-post-id="{{ post.id }}">
    <div class="d-flex justify-content-between">
        <a href="{% url 'profile' post.author.username %}" class="mb-3"><h5>{{ post.author.username }}</h5></a>
        {% if user == post.author %}
        <div>
            <button class="edit btn btn-primary">Edit</button>
            <button class="delete btn btn-danger">Delete</button>
        </div>
        {% endif %}
    </div>
    <div class="content">
        <p>{{ post.content }}</p>
    </div>
    <p class="text-muted">{{ post.formatted_date}}</p>
    <button>❤️ {{ post.like_count }}</button>
    <button>Comment</button>
    
</div>

