{% extends "quiz/layout.html" %}

{% block body %}

<div class="container mt-5 border p-5 shadow-lg rounded">
            
    <div class="scoreboard">
        {% for round in rounds %}
            {% if round.number is game.current_round.number %}
                <div class="round-score-box blinker">{{ round.number }}</div>
            {% else %}
                {% if round.state == 'CORRECT' %}
                    <div class="round-score-box correct">{{ round.number }}</div>
                {% elif round.state == 'WRONG' %}
                    <div class="round-score-box wrong">{{ round.number }}</div>
                {% else %}
                    <div class="round-score-box">{{ round.number }}</div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    <h2 class="text-center mb-3">Round {{ game.current_round.number }}</h2>

    <div class="text-center mt-3">
        <img src="{{ modified_image }}" alt="modified cover" class=" img-fluid rounded border shadow-lg" style="width: 400px; height: auto;">
    </div>
    

    <div class="text-center mt-3">

        <!-- Buttons -->
        <div class="d-flex justify-content-center gap-2 mb-2">
            <form id="skipButtonForm" action="{% url 'skip_round' game.id %}" method="post" style="margin:0;">
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit" id="skipButton" style="height: 38px; padding: 6px 12px;">
                    Skip
                </button>
            </form>

            <button class="btn btn-primary" type="submit" style="height: 38px; padding: 6px 12px;" form="guessImageForm" id="submitGuessButton">
                Submit
            </button>
        </div>

        <!-- Text Input and Selector -->
        <form id="guessImageForm" method="post" style="max-width: 400px; margin: 0 auto;" action="{% url 'game_update' game.id %}">
            {% csrf_token %}
            <div class="position-relative">

                {% if game.mode == 'Cover Image' %}
                    <input type="text" class="form-control" placeholder="Enter your answer here" id="guessCoverInput" name="user_input" required autocomplete="off" style="width: 100%;">
                {% elif game.mode == 'Character Image' %}
                    <input type="text" class="form-control" placeholder="Enter the character's name here" id="guessCharacterInput" name="user_input" required autocomplete="off" style="width: 100%;">
                {% endif %}

                <div id="suggestions" class="suggestion-box"></div>
            
            </div>
        </form>

    </div>

</div>

{% endblock %}